/* include:media/css/reset.css */
/* include:media/css/fonts.css */
/* include:media/css/font-awesome.css */

body {font-family:'Oxygen', sans-serif;}

textarea, input, select {font-family:'Oxygen', sans-serif;}
strong {font-weight:700;}
a {color:inherit;}
.center {text-align:center;}
.right {text-align:right;}

.button-wrapper {margin:120px 0 0 0;}
.button {text-decoration:none;display:inline-block;color:rgba(88, 102, 233, 1.0);font-size:30px;line-height:38px;font-weight:700;padding:16px 42px;border:none;cursor:pointer;border-radius:35px;background:rgba(255, 255, 255, 1.0);transition:.3s all ease;box-shadow:0 3px 6px rgba(0, 0, 0, 0.16);}
.button:hover {color:rgba(255,255,255,1.0);background:rgba(88,102,233,1.0);}

.long-text {word-spacing:normal;white-space:pre-line;}
.inverted {mix-blend-mode:difference;}
.hidden {display:none;}
.inline-block-children {letter-spacing:-4px;}
.inline-block-children > * {letter-spacing:normal;word-spacing:normal;vertical-align:top;display:inline-block;}

/* Landscape phones and down */
@media screen and (max-width: 480px) {
}
/* Landscape phone to portrait tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
}
/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 769px) and (max-width: 1199px) {
}




























