.inline-block-children {letter-spacing:-4px;}
.inline-block-children > * {letter-spacing:normal;word-spacing:normal;vertical-align:top;display:inline-block;}
router-outlet {display:block;width:calc(100% - 230px);}
[route] {cursor:pointer;}
