.content ol li {margin:0 0 10px 0;}
.content dl {max-height:150px;overflow-y:scroll;}

.log li {font-size:14px;line-height:20px;padding:10px 0;border-width:0 0 1px 0;border-style:solid;word-break:break-word;}
