.live-slug {margin:10px 0;font-size:14px;line-height:20px;font-style:italic;}
#log li {font-size:14px;line-height:20px;padding:10px 0;border-width:0 0 1px 0;border-style:solid;word-break:break-word;}
