<template>
	<main class="bg-bluegrey-5">
		<div>
			<h2>Administration <span>Articles</span></h2>
		</div>
		<sablono-grid rows="1" columns="8">
			<sablono-box title="Article List" column-span="1/6">
				<sablono-table id="article-table" header="Title,Published,Updated,Actions"></sablono-table>
			</sablono-box>
			<sablono-box title="Post Article" column-span="6/-1">
				<sablono-form submit-value="Submit" id="article-form" method="post" action="/article-save">
					<ol>
						<li>
							<sablono-field id="article-title" label="Article Title">
								<input class="border-grey-20" type="text" name="article-title" id="article-title" placeholder="Article Title" required="required" />
							</sablono-field>
						</li>
						<li>
							<sablono-field id="article-content" label="Article Content (HTML)">
								<textarea class="border-grey-20" type="text" name="article-content" id="article-content" placeholder="Article Content (HTML)" required="required"></textarea>
							</sablono-field>
						</li>
						<li>
							<sablono-field id="article-order" label="Article Order">
								<input class="border-grey-20" type="text" name="article-order" id="article-order" placeholder="Article Order" required="required" />
							</sablono-field>
						</li>
						<li>
							<sablono-field id="article-category" label="Article Category">
								<select class="border-grey-20" name="article-category" id="article-category" required="required">
									<option value="0">Fiu</option>
									<option value="10">Ŝablono</option>
								</select>
							</sablono-field>
						</li>
					</ol>
					<div class="hidden-fields">
						<sablono-field id="article-id">
							<input type="hidden" name="article-id" id="article-id" />
						</sablono-field>
					</div>
				</sablono-form>
			</sablono-box>
		</sablono-grid>
	</main>
</template>