<template>
	<main class="bg-bluegrey-5">
		<div>
			<h2>Documentation <span class="grey-60">for Ŝablono Web Components</span></h2>
		</div>
		<sablono-grid rows="1" columns="1">
			<sablono-box title="Test Box" subtitle="Just to test subtitles too 1">
				<div>
					<p>
						<span>Test of child component</span>
					</p>
				</div>
			</sablono-box>
		</sablono-grid>
		<sablono-grid rows="1" columns="12">
			<sablono-box title="Test Box 2" subtitle="Just to test subtitles too 2" section-height="400" column-span="1/5">
				<sablono-chart></sablono-chart>
			</sablono-box>
			<sablono-box title="Test Box 3" subtitle="Just to test subtitles too 3" show-close="true" height="400" column-span="5/13">
				<sablono-chart></sablono-chart>
			</sablono-box>
		</sablono-grid>
		<sablono-grid rows="1" columns="2">
			<sablono-box title="Test Box 2" subtitle="Just to test subtitles too 2">
				<div>
					<p>
						<span>Test of child component 2</span>
						<span>Test of child component 2</span>
						<span>Test of child component 2</span>
					</p>
				</div>
			</sablono-box>
			<sablono-box title="Test Box 3" subtitle="Just to test subtitles too 3" show-close="true">
				<div>
					<p>
						<span>Test of child component 2</span>
					</p>
				</div>
			</sablono-box>
		</sablono-grid>
	</main>
</template>