<template>
	<header class="head bg-lightblue-70 white inline-block-children">
		<h1 class="bg-lightblue-80"><a route="/" class="white" title="It's ´template´ in Esperanto"><strong>Ŝ</strong>ablono</a></h1>
		<ol>
			<li class="bg-shade-10-hover"><a href="" class="far fa-flag"><sup class="bg-green-60">3</sup></a></li>
			<li class="bg-shade-10-hover"><a href="" class="far fa-bell"><sup class="bg-amber-70">15</sup></a></li>
			<li class="bg-shade-10-hover"><a href="" class="far fa-envelope"><sup class="bg-red-60">59</sup></a></li>
			<li class="user">
				<img src="/media/img/user.svg" alt="User" width="25" height="25"/>
				<p class="white">User</p>
			</li>
			<li class="bg-shade-10-hover hide" id="logout"><a href="" class="fas fa-sign-out-alt"></a></li>
			<li class="bg-shade-10-hover hide" id="login"><a href="" class="far fa-user"></a></li>
		</ol>
	</header>
</template>