{% templatetag openblock %} load i18n {% templatetag closeblock %}<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% templatetag openblock %} block title {% templatetag closeblock %}Django Utils Framework{% templatetag openblock %} endblock title {% templatetag closeblock %}</title>
		<meta charset="utf-8">
		<meta name="description" content="{% templatetag openblock %} trans 'Django Utils' {% templatetag closeblock %}" />
		{% templatetag openblock %} block style {% templatetag closeblock %}{% templatetag openblock %} endblock style {% templatetag closeblock %}
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=5.0,width=device-width" />
	</head>
	<body>
		{% templatetag openblock %} block main {% templatetag closeblock %}{% templatetag openblock %} endblock main {% templatetag closeblock %}{% templatetag openblock %} block script {% templatetag closeblock %}{% templatetag openblock %} endblock script {% templatetag closeblock %}
	</body>
</html>