{% extends 'unu/skeleton.html' %}{% load i18n %}{% load formtags %}{% load optimization %}{% block style %}{% css 'unu/fiu' %}{% endblock style %}{% block script %}{% javascript 'unu/fiu' %}{% endblock script %}{% block main %}<div>
					<h2>Fiu Panel <span class="grey-60">A great way to create front end web apps and avoid npm in one swoop</span></h2>
				</div>
				<div data-grid="1/2">
					<section class="box top-border bg-white border-blue-50" data-columns="1/2">
						<header class="border-grey-10">
							<h3>Fiu framework</h3>
						</header>
						<div class="content">
							<a href="{% url 'unu:fiu_get_files' %}" class="button bg-blue-50 bg-blue-60-hover unu-fiu-get-files">{% if has_fiu %}Update Fiu{% else %}Add Fiu{% endif %}</a>
						</div>
					</section>
					<section class="box top-border bg-white border-blue-50" data-columns="2/-1">
						<header class="border-grey-10">
							<h3>Fiu Apps</h3>
						</header>
						<div class="content">{% if fiu_apps|length > 0 %}
							<dl class="inline-block-children app-data">{% for fiu_app in fiu_apps %}
								<dt>{{ fiu_app.name }}</dt>
								<dd>
								<a href="{% url 'unu:fiu_app' fiu_app.slug %}" class="button button-small bg-blue-50 bg-blue-50-hover">Manage</a>
								</dd>{% endfor %}
							</dl>{% else %}
							<p>Fiu app not present yet</p>{% endif %}
						</div>
					</section>
				</div>
				<div data-grid="1/5">
					<section class="box top-border bg-white border-blue-50" data-columns="1/4">
						<header class="border-grey-10">
							<h3>Create New Fiu App</h3>
						</header>
						<form id="new-fiu-app" action="{% url 'unu:fiu_new_app' %}">
							<fieldset>
								<ol>
									<li>
										<label for="app-name">App Name</label>
										<input type="text" class="field" id="app-name" name="app-name" required="required" />
									</li>
									<li>
										<label for="app-router-root">Router Root URL</label>
										<input type="url" class="field" id="app-router-root" name="app-router-root" required="required" placeholder="Something like http://www.example.com/ or http://www.example.com/administration" />
									</li>
									<li>
										<label for="app-http-root">HTTP Root URL</label>
										<input type="url" class="field" id="app-http-root" name="app-http-root" required="required" placeholder="Something like http://www.example.com/api" />
									</li>
									<li class="checkbox">
										<label for="app-enable-logging"><input type="checkbox" id="app-enable-logging" name="app-enable-logging" value="enable-logging" /> Enable Logging</label>
									</li>
								</ol>
								<div class="control">
									<input type="submit" class="button bg-green-50 bg-green-50-hover" value="Create" />
								</div>
							</fieldset>
						</form>
					</section>
					<section class="box top-border bg-white border-blue-50" data-columns="4/-1">
						<header class="border-grey-10">
							<h3>Report <span>(log)</span></h3>
						</header>
						<div class="content">
							<ol id="app-log" class="log">
							</ol>
						</div>
					</section>
				</div>{% endblock main %}