{% extends 'unu/skeleton.html' %}{% load i18n %}{% load formtags %}{% load optimization %}{% block style %}{% css 'unu/index' %}{% endblock style %}{% block script %}{% javascript 'unu/index' %}{% endblock script %}{% block main %}<div>
				<h2>Django Helper <span class="grey-60">Make your Django project more organized</span></h2>
			</div>
			<div data-grid="1/2">
				<section class="box top-border bg-white border-blue-50" data-columns="1/2">
					<header class="border-grey-10">
						<h3>Analyze <span>the current project structure</span></h3>
					</header>
					<div class="content">
						<a href="{% url 'unu:analyze' %}" class="button bg-green-50 bg-green-60-hover unu-analyze">Start</a>
					</div>
				</section>
				<section class="box top-border bg-white border-blue-50" data-columns="2/-1">
					<header class="border-grey-10">
						<h3>Fix Functions <span>Applies for the whole project</span></h3>
					</header>
					<div class="content">
						<ol class="inline-block-children">
							<li>
								<a href="{% url 'unu:fix_views' %}" class="fixer button bg-amber-50 bg-amber-60-hover">Fix Views</a>
							</li>
							<li>
								<a href="{% url 'unu:fix_models' %}" class="fixer button bg-amber-50 bg-amber-60-hover">Fix Models</a>
							</li>
							<li>
								<a href="{% url 'unu:fix_urls' %}" class="fixer button bg-amber-50 bg-amber-60-hover">Fix Urls</a>
							</li>
							<li>
								<a href="{% url 'unu:fix_js_namespaces' %}" class="fixer button bg-amber-50 bg-amber-60-hover">Fix JavaScript Namespaces</a>
							</li>
						</ol>
					</div>
				</section>
			</div>
			<div data-grid="1/2">
				<section class="box top-border bg-white border-blue-50" data-columns="{% if is_unu_development %}1/2{% else %}1/-1{% endif %}">
					<header class="border-grey-10">
						<h3>Create new view <span>yep</span></h3>
					</header>
					<div class="content">
						<ol class="inline-block-children">{% for id, view in view_choices.items %}
							<li>
								<a href="{% url 'unu:new_view' id %}" class="button bg-purple-50 bg-purple-60-hover">New {{ view.name }}</a>
							</li>{% endfor %}
						</ol>
					</div>
				</section>{% if is_unu_development %}
				<section class="box top-border bg-white border-blue-50" data-columns="2/-1">
					<header class="border-grey-10">
						<h3>Template static toggle</h3>
					</header>
					<div class="content">
						<a href="{% url 'unu:toggle_template_static' %}" class="button bg-red-50 bg-red-60-hover">Toggle</a>
					</div>
				</section>{% endif %}
			</div>{% endblock main %}