{% extends 'unu/skeleton.html' %}{% load i18n %}{% load formtags %}{% load optimization %}{% load html %}{% block style %}{% css 'unu/new-view' %}{% endblock style %}{% block script %}{% javascript 'unu/new-view' %}{% endblock script %}{% block main %}<div>
				<h2>{{ selected_view.name }} <span class="grey-60">new view</span></h2>
			</div>
			<div data-grid="1/3">
				<section class="box top-border bg-white border-blue-50" data-columns="1/3">
					<form action="{% url 'unu:new_view_create' view %}" method="post">
						<fieldset>
							<legend>View data</legend>
							<ol>{% for field in selected_view.config.fields %}
								<li>{% if field.field == 'input' %}
									<label for="{{ field.name }}">{{ field.label }}</label>
									<input type="text" name="{{ field.name }}" id="{{ field.name }}" class="field{% if field.class %} {{ field.class }}{% endif %}" required="required" />{% elif field.field == 'checkbox' %}
									<label for="{{ field.name }}"><input type="checkbox" name="{{ field.name }}" id="{{ field.name }}"{% if field.class %}  class="{{ field.class }}"{% endif %} value="on" /> {{ field.label }}</label>{% elif field.field == 'select' %}
									<label for="{{ field.name }}">{{ field.label }}</label>
									<select{% if field.data %} {{ field.data|dict_to_data }}{% endif %} class="field{% if field.class %} {{ field.class }}{% endif %}" name="{{ field.name }}" id="{{ field.name }}" required="required">{% if field.options %}{% for option in field.options %}
										<option value="{{ option }}">{{ option }}</option>{% endfor %}{% endif %}
									</select>{% elif field.field == 'select-multiple' %}
									<label for="{{ field.name }}">{{ field.label }}</label>
									<select class="high field{% if field.class %} {{ field.class }}{% endif %}" name="{{ field.name }}" id="{{ field.name }}" multiple="multiple">{% if field.options %}{% for option in field.options %}
										<option value="{{ option }}">{{ option }}</option>{% endfor %}{% endif %}
									</select>{% endif %}
								</li>{% endfor %}
							</ol>
							<div class="control">
								{% csrf_token %}
								<input class="submit button bg-blue-50 bg-blue-60-hover" id="submit-button" name="submit-button" type="submit" value="Create" />
							</div>
						</fieldset>
					</form>
				</section>
				<section class="box top-border bg-white border-blue-50" data-columns="3/-1">
					<header class="border-grey-10">
						<h3>Report <span>(log)</span></h3>
					</header>
					<div class="content">
						<ol id="log">
						</ol>
					</div>
				</section>
			</div>
		</div>{% endblock main %}